EXPO_PUBLIC_SUPABASE_URL=https://fbrsxunphypusocgcrkg.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZicnN4dW5waHlwdXNvY2djcmtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxNTM1NzAsImV4cCI6MjA5NDcyOTU3MH0.48-vtfs-wSjeHfd6ncKLaQrjh32gtb4v9-KS4EsI6eE